<%= render partial: "top/top" %>

<div class="help-main">
  <div class="sidebar">
    <div class="sidebar__body">
      <% if current_store then %>
      <h1 class="sidebar__body-title">Help登録</h1>
      <% else %>
      <h1 class="sidebar__body-title">条件検索</h1>
      <div class="search search_bar">
        <select required>
          <option value="" hidden>地域</option>
          <option value="北海道">北海道</option>
          <option value="青森県">青森県</option>
          <option value="岩手県">岩手県</option>
          <option value="宮城県">宮城県</option>
          <option value="秋田県">秋田県</option>
          <option value="山形県">山形県</option>
          <option value="福島県">福島県</option>
          <option value="茨城県">茨城県</option>
          <option value="栃木県">栃木県</option>
          <option value="群馬県">群馬県</option>
          <option value="埼玉県">埼玉県</option>
          <option value="千葉県">千葉県</option>
          <option value="東京都">東京都</option>
          <option value="神奈川県">神奈川県</option>
          <option value="新潟県">新潟県</option>
          <option value="富山県">富山県</option>
          <option value="石川県">石川県</option>
          <option value="福井県">福井県</option>
          <option value="山梨県">山梨県</option>
          <option value="長野県">長野県</option>
          <option value="岐阜県">岐阜県</option>
          <option value="静岡県">静岡県</option>
          <option value="愛知県">愛知県</option>
          <option value="三重県">三重県</option>
          <option value="滋賀県">滋賀県</option>
          <option value="京都府">京都府</option>
          <option value="大阪府">大阪府</option>
          <option value="兵庫県">兵庫県</option>
          <option value="奈良県">奈良県</option>
          <option value="和歌山県">和歌山県</option>
          <option value="鳥取県">鳥取県</option>
          <option value="島根県">島根県</option>
          <option value="岡山県">岡山県</option>
          <option value="広島県">広島県</option>
          <option value="山口県">山口県</option>
          <option value="徳島県">徳島県</option>
          <option value="香川県">香川県</option>
          <option value="愛媛県">愛媛県</option>
          <option value="高知県">高知県</option>
          <option value="福岡県">福岡県</option>
          <option value="佐賀県">佐賀県</option>
          <option value="長崎県">長崎県</option>
          <option value="熊本県">熊本県</option>
          <option value="大分県">大分県</option>
          <option value="宮崎県">宮崎県</option>
          <option value="鹿児島県">鹿児島県</option>
          <option value="沖縄県">沖縄県</option>
        </select>
      </div>
      <div class="search search_bar">
        <select required>
          <option value="" hidden>店舗名</option>
          <option value="1">渋谷マークシティ店</option>
          <option value="2">青山ビルヂング店</option>
          <option value="3">アークヒルズサウスタワー店</option>
          <option value="4">大手町ビル店</option>
        </select>
      </div>
      <div class="side_btn">
        <input class="side_btn__btn1" type="submit" value="検索" >
        <input class="side_btn__btn2" type="submit" value="条件クリア" >
      </div>
      <% end %>
    </div>
  </div>

  <div class="help">
    <p class="help__title">HELP一覧</p>

    <div class="help__list">
      <h1 class="help__list-store">渋谷マークシティ店</h1>
      <div class="help__list__table">
        <ul class="help__list__table-data">
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
        </ul>
      </div>
      <div class="help__list__btn">
        <input class="help__list__btn-btn1" type="submit" value="message" >
      </div>
    </div>
    <div class="help__list">
      <h1 class="help__list-store">渋谷マークシティ店</h1>
      <div class="help__list__table">
        <ul class="help__list__table-data">
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
        </ul>
      </div>
      <div class="help__list__btn">
        <input class="help__list__btn-btn1" type="submit" value="message" >
      </div>
    </div>
    <div class="help__list">
      <h1 class="help__list-store">渋谷マークシティ店</h1>
      <div class="help__list__table">
        <ul class="help__list__table-data">
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
        </ul>
      </div>
      <div class="help__list__btn">
        <input class="help__list__btn-btn1" type="submit" value="message" >
      </div>
    </div>
    <div class="help__list">
      <h1 class="help__list-store">渋谷マークシティ店</h1>
      <div class="help__list__table">
        <ul class="help__list__table-data">
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
        </ul>
      </div>
      <div class="help__list__btn">
        <input class="help__list__btn-btn1" type="submit" value="message" >
      </div>
    </div>
    <div class="help__list">
      <h1 class="help__list-store">渋谷マークシティ店</h1>
      <div class="help__list__table">
        <ul class="help__list__table-data">
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
          <li>2020/01/01 18:00~21:00</li>
        </ul>
      </div>
      <div class="help__list__btn">
        <input class="help__list__btn-btn1" type="submit" value="message" >
      </div>
    </div>
    
  </div>
</div>